.leftArea {
  width: 150px;
  margin-left: auto;
  display: flex;
  flex-direction: column;
}

.resetButton {
  background-color: lightgreen;
  padding: 5px 10px;
  border: 2px solid #222;
  border-radius: 20px;
  font-size: 1.5em;
  font-weight: bold;
}

.board {
  margin-right: auto;
  display: flex;
  flex-wrap: wrap;
  width: 800px;
  border-top: 1px solid #222;
  border-right: 1px solid #222;
}

.square {
  width: 98px;
  height: 98px;
  border-bottom: 2px solid #222;
  border-left: 2px solid #222;
}

.touch {
  display: flex;
  width: 100%;
  height: 100%;
}

.turnPoint {
  width: 9px;
  height: 9px;
  margin: auto;
  border: 1px solid #222;
  border-radius: 10px;
}

.piece {
  width: 72px;
  height: 72px;
  margin: auto;
  border: 4px solid #222;
  border-radius: 40px;
}

.isBlack {
  background-color: #222;
}
